<html lang="en" class="wide wow-animation smoothscroll">
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->

      <!-- Page Content-->
      <main class="page-content">
        <section>
          <!-- Swiper-->
          <div class="swiper-outer">
            <div data-simulate-touch="false" data-slide-effect="fade" data-autoplay="3000" class="swiper-container swiper-slider swiper-slider-variant-1">
              <div class="swiper-wrapper">
                <div data-slide-bg="images/index-01.jpg" class="swiper-slide" >
                  <div class="swiper-slide-caption">
                    <div class="shell shell-wide">
                      <div class="range">
                        <div class="cell-md-12 cell-lg-12 context-dark cell-xs-middle">
                          <h1>welcome to our club</h1>
                          <p class="big">Since the opening in 1990, the Weightlifting Day Club has become a popular place<br class="veil reveal-xl-block">among Weightlifting & fitness enthusiasts and professionals.</p><a href="about.html" class="btn btn-white btn-sm">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-slide-bg="images/home-2-02.jpg" class="swiper-slide">
                  <div class="swiper-slide-caption">
                    <div class="shell shell-wide">
                      <div class="range">
                        <div class="cell-md-12 cell-lg-12 context-dark cell-xs-middle">
                          <h1>Weightlifting FOR EVERYONE</h1>
                          <p class="big">Our club has all necessary equipment and professional coaches to help<br class="veil reveal-xl-block">anyone who comes to us become a professional.</p><a href="about.html" class="btn btn-white btn-sm">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-slide-bg="images/home-2-03.jpg" class="swiper-slide">
                  <div class="swiper-slide-caption">
                    <div class="shell shell-wide">
                      <div class="range">
                        <div class="cell-md-12 cell-lg-12 context-dark cell-xs-middle">
                          <h1>INNOVATIVE TRAINING</h1>
                          <p class="big">At Weightlifting Day, we use the latest training techniques, which are developed<br class="veil reveal-xl-block">by our coaches to make your Weightlifting lessons more successful.</p><a href="about.html" class="btn btn-white btn-sm">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section class="section-80 section-md-110">
          <div class="shell shell-wide">
            <h2>Seminar & Camp</h2>
            <hr class="divider divider-60 divider-primary offset-top-32">
            <!-- Owl Carousel-->
            <div data-dots="true" data-items="1" data-xs-items="2" data-md-items="3" data-stage-padding="15" data-margin="30" data-mouse-drag="false" class="offset-top-36 offset-md-top-60 text-md-left owl-dots-md owl-carousel">
              <div class="unit-shrink unit unit-lg-horizontal unit-spacing-xs">
                <div class="unit-left">
                  <div><img src="images/home-3-03.jpg" width="200" height="270" alt="" class="img-responsive reveal-inline-block"></div>
                </div>
                <div class="unit-body">
                  <h5 class="text-bold p"><a href="event-single.html">Autumn Weightlifting Camp</a></h5>
                  <p class="offset-top-26"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-calendar"></span><span class="text-middle">September 2-5</span></p>
                  <p class="offset-top-14"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-account"></span><span class="text-middle">20 participants</span></p>
                  <p class="offset-top-14"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-cash-usd"></span><span class="text-middle">$ 2,200</span></p><a href="event-single.html" class="btn btn-default btn-sm offset-top-18">book now</a>
                </div>
              </div>
              <div class="unit-shrink unit unit-lg-horizontal unit-spacing-xs">
                <div class="unit-left">
                  <div><img src="images/home-3-04.jpg" width="200" height="270" alt="" class="img-responsive reveal-inline-block"></div>
                </div>
                <div class="unit-body">
                  <h5 class="text-bold p"><a href="event-single.html">Autumn Weightlifting Camp</a></h5>
                  <p class="offset-top-26"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-calendar"></span><span class="text-middle">September 12-15</span></p>
                  <p class="offset-top-14"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-account"></span><span class="text-middle">20 participants</span></p>
                  <p class="offset-top-14"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-cash-usd"></span><span class="text-middle">$ 2,200</span></p><a href="event-single.html" class="btn btn-default btn-sm offset-top-18">book now</a>
                </div>
              </div>
              <div class="unit-shrink unit unit-lg-horizontal unit-spacing-xs">
                <div class="unit-left">
                  <div><img src="images/home-3-05.jpg" width="200" height="270" alt="" class="img-responsive reveal-inline-block"></div>
                </div>
                <div class="unit-body">
                  <h5 class="text-bold p"><a href="event-single.html">Autumn Weightlifting Camp</a></h5>
                  <p class="offset-top-26"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-calendar"></span><span class="text-middle">September 18-21</span></p>
                  <p class="offset-top-14"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-account"></span><span class="text-middle">20 participants</span></p>
                  <p class="offset-top-14"><span class="inset-right-5 text-middle icon icon-lg text-primary mdi mdi-cash-usd"></span><span class="text-middle">$ 2,200</span></p><a href="event-single.html" class="btn btn-default btn-sm offset-top-18">book now</a>
                </div>
              </div>
            </div>
            <div class="offset-top-32 offset-md-top-60"><a><%= link_to("VIEW ALL SEMINARS", seminars_path,  :class => "btn btn-primary btn-sm btn-danger") %>
            </a>

          </div>
          </div>
        </section>
        <section class="bg-bunting bg-wrapper">
          <div class="shell shell-wide">
            <div class="range text-md-left">
              <div class="cell-md-5 cell-lg-4 cell-lg-preffix-1 section-80 section-md-110">
                <h2>A Few Words About Our Club</h2>
                <hr class="divider divider-60 divider-primary offset-top-32 divider-md-left">
                <p class="offset-top-42">We were established in 2015 with a belief that in a safe environment weightlifting arts can be an effective and fun platform for overall fitness and health.</p>
                <p>With that in mind, Tsunami Barbell Club brought together the best coach and athlete in the industry – from Chinese National Weightlifting Team and Bayi weightlifting team. It was done with the goal to create a unique and exhilarating training program.</p>
                <div class="range offset-top-42 text-center">
                  <div class="cell-sm-4">
                    <div class="counter-sm">
                      <!-- CountTo-->
                      <div data-from="0" data-to="15" class="counter"></div>
                      <div class="counter-title offset-top-12">Years of Experience</div>
                      <hr class="divider divider-white divider-30">
                    </div>
                  </div>
                  <div class="cell-sm-4">
                    <div class="counter-sm">
                      <!-- CountTo-->
                      <div data-from="0" data-to="18" class="counter"></div>
                      <div class="counter-title offset-top-12">annual tournaments</div>
                      <hr class="divider divider-white divider-30">
                    </div>
                  </div>
                  <div class="cell-sm-4">
                    <div class="counter-sm">
                      <!-- CountTo-->
                      <div data-from="0" data-to="131" class="counter"></div>
                      <div class="counter-title offset-top-12">Excellent student</div>
                      <hr class="divider divider-white divider-30">
                    </div>
                  </div>
                </div>
                <div class="offset-top-32 offset-md-top-60"><a href="about.html" class="btn btn-primary btn-sm">learn more</a></div>
              </div>
              <div class="offset-top-0 cell-md-preffix-2 cell-md-5 bg-primary-md-dark cell-lg-5 cell-lg-preffix-2 section-80 section-md-110">
                <h2>Weightlifting Benefits</h2>
                <hr class="divider divider-60 divider-white offset-top-32 divider-md-left">
                <div class="range text-sm-left text-white">
                  <div class="cell-sm-6 cell-md-12 cell-lg-6">
                    <div class="unit unit-horizontal reveal-inline-flex text-left">
                      <div class="unit-left"><img src="images/icon-09.jpg" width="60" height="60" alt=""></div>
                      <div class="unit-body">
                        <h6>urn Fat/ Increased<br>Muscle Tone</h6>
                      </div>
                    </div>
                    <p class="inset-xl-right-14 offset-top-14 offset-lg-top-22">One of the major benefits of Weightlifting is that it can burn as much as 500 Cal...</p>
                  </div>
                  <div class="cell-sm-6 cell-md-12 cell-lg-6 offset-top-32 offset-sm-top-0 offset-md-top-32 offset-lg-top-0">
                    <div class="unit unit-horizontal reveal-inline-flex text-left">
                      <div class="unit-left"><img src="images/icon-10.jpg" width="60" height="60" alt=""></div>
                      <div class="unit-body">
                        <h6>Full Body<br>Workout</h6>
                      </div>
                    </div>
                    <p class="inset-xl-right-14 offset-top-14 offset-lg-top-22">Weightlifting involves the movement of many body parts such as legs and hips...</p>
                  </div>
                  <div class="cell-sm-6 cell-md-12 cell-lg-6 offset-top-32 offset-lg-top-60">
                    <div class="unit unit-horizontal reveal-inline-flex text-left">
                      <div class="unit-left"><img src="images/icon-11.jpg" width="60" height="60" alt=""></div>
                      <div class="unit-body">
                        <h6>Stress Relief and<br>Improved Confidence</h6>
                      </div>
                    </div>
                    <p class="inset-xl-right-14 offset-top-14 offset-lg-top-22">Weightlifting will not only help you get in shape, but it will also improve your confidence...</p>
                  </div>
                  <div class="cell-sm-6 cell-md-12 cell-lg-6 offset-top-32 offset-lg-top-60">
                    <div class="unit unit-horizontal reveal-inline-flex text-left">
                      <div class="unit-left"><img src="images/icon-12.jpg" width="60" height="60" alt=""></div>
                      <div class="unit-body">
                        <h6>Build Strong<br>Bones</h6>
                      </div>
                    </div>
                    <p class="inset-xl-right-14 offset-top-14 offset-lg-top-22">Weightlifting involves a lot of resistance from both the equipment and your bone structure...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-80 section-md-110">
          <div class="shell shell-wide">
            <h2>Highlights</h2>
            <hr class="divider divider-60 divider-primary offset-top-32">
            <!-- Owl Carousel-->
            <div data-dots="true" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" class="text-md-left owl-carousel offset-top-60">
                    <!-- Thumbnail-->
                    <div class="thumbnail-variant-3">
                      <div><img src="images/home-3-06.jpg" width="570" height="370" alt="" class="img-responsive center-block"></div>
                      <div class="caption">
                        <h6>With students</h6>
                        <p>Finish training coach yang and his students in Weightlifting Camp</p>
                        <!-- <a href="#" class="btn btn-primary btn-sm offset-top-8">Learn more</a> -->
                      </div>
                    </div>
                    <!-- Thumbnail-->
                    <div class="thumbnail-variant-3">
                      <div><img src="images/home-3-07.jpg" width="570" height="370" alt="" class="img-responsive center-block"></div>
                      <div class="caption">
                        <h6>Medal</h6>
                        <p>Part of medals Coach Yang won</p>
                      </div>
                    </div>
                    <!-- Thumbnail-->
                    <div class="thumbnail-variant-3">
                      <div><img src="images/home-3-08.jpg" width="570" height="370" alt="" class="img-responsive center-block"></div>
                      <div class="caption">
                        <h6>Coach Yang in Bayi Team</h6>
                        <p>Coach Yang in Chinese bayi weightlifting team.</p>
                      </div>
                    </div>
            </div>
          </div>
        </section>
        <section class="section-80 section-md-110 bg-bunting">
          <div class="shell shell-wide">
            <h2>Our Team</h2>
            <hr class="divider divider-60 divider-primary offset-top-32">
            <div class="range offset-top-36 text-lg-left range-xs-center">
              <div class="cell-sm-9 cell-md-6">
                <div class="unit unit-lg-horizontal bg-white unit-xlg-middle unit-spacing-sm thumbnail-variant-4">
                  <div class="unit-left"><img src="images/home-3-09.jpg" width="300" height="372" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body">
                    <div class="caption">
                      <h3 class="text-bold text-primary"><a href="#">Yang Yang</a></h3>
                      <div class="caption-title">head coach</div>
                      <p class="offset-top-14 offset-md-top-20"><span style="color: #3a3a3b;" class="text-middle icon mdi mdi-instagram"></span>yangyang7878</p>
                      <p class="offset-top-14 offset-md-top-20 caption-text text-gray">Yang is the owner & founder of Coach Yang and he has over 15 years of experience...</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-9 cell-md-6 offset-top-32 offset-md-top-0">
                <div class="unit unit-lg-horizontal bg-white unit-xlg-middle unit-spacing-sm thumbnail-variant-4">
                  <div class="unit-left"><img src="images/home-3-10.jpg" width="300" height="372" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body">
                    <div class="caption">
                      <h3 class="text-bold text-primary"><a href="#">Jude Yang</a></h3>
                      <div class="caption-title">co-funder</div>
                      <p class="offset-top-14 offset-md-top-20"><span style="color: #3a3a3b;" class="text-middle icon mdi mdi-instagram"></span>judeyang</p>
                      <p class="offset-top-14 offset-md-top-20 caption-text text-gray">The co-funder of Coach Yang and the owner of Tsunami Barbell Club.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    </div>
    </body>
</html>
